<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Register</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" name="name" required>
                    <label>Name</label>
                </div>
                <div class="input-box">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="signup-link">
                    <p>Already have an account? <a href="/api/v1/static/login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>